@model SForum.Models.Forum.ForumTopicModel
@{
    ViewData["Title"] = Model.Forum.Name;
}

<div class="container body-content">
    <div class="row sectionHeader">
        <div class="sectionHeading">
            <span id="results">Тема | @Model.Forum.Name</span>
            @if (User.Identity.IsAuthenticated)
            {
                <span id="headingBtn">
                    <a asp-controller="Post" asp-action="Create" asp-route-id="@Model.Forum.Id" class="btn btn-newPost">Создать тему</a>
                </span>
            }
        </div>
        <div class="sectionDescription">
            <form asp-controller="Forum" asp-action="Search" method="post">
                <div class="searchForm">
                    <input asp-for="SearchQuery" type="text" placeholder="Поиск..." required class="searchBar" onfocus="clearThis(this)">
                    <button type="submit" class="btn btn-forumSearch">
                        <i class="material-icons searchBtnRed">search</i>
                    </button>
                </div>
                <input asp-for="Forum.Id" name="id" type="hidden"/>
            </form>
            <div class="forumLogo" style="background-image: url(@Model.Forum.ImageUrl)"></div>
            <p>Добро пожаловать на <strong>@Model.Forum.Name</strong>.</p>
            <p>
                Пожалуйста прочитайте правила прежде чем сделать тему.
                @if (!User.Identity.IsAuthenticated)
                {
                    <span>Вы должны быть <a asp-area="Identity" asp-page="/Account/Register">зарегистрированным</a> пользователем, чтобы создать тему</span>
                }
            </p>
        </div>
    </div>
    <div class="row" id="forumIndexContent">
        @if (Model.Posts.Any())
        {
            <table class="table table-hover table-bordered" id="forumIndexTable">
                <tbody>
                @foreach (var post in Model.Posts)
                {
                    <tr>
                        <td>
                            <div class="postData">
                                <div class="postTitle">
                                    <a asp-controller="Post" asp-action="Index" asp-route-id="@post.Id">@post.Title</a>
                                </div>
                                <div class="forumSubTitle">
                                    <div>
                                        <span class="postAuthor">
                                            <a asp-controller="Profile" asp-action="Detail" asp-route-id="@post.AuthorId">
                                                @post.Author
                                            </a>
                                        </span>
                                        (@post.AuthorRating) в
                                        <span class="postDate">
                                            @post.DatePosted
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="forumPostCount">
                                @post.RepliesCount ответов
                            </div>
                        </td>
                        <td class="tdDisplayNone">
                            <div class="postDate">@post.DatePosted</div>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }
        else if (Model.EmptySearchResults)
        {
            <div class="noPosts">
                <h3>
                    Не найдено результатов по запросу "@Model.SearchQuery"<br/>
                    Почему бы не <a asp-controller="Post" asp-action="Create" asp-route-id="@Model.Forum.Id"><span>создать одну</span>?</a>
                </h3>
            </div>
        }
        else
        {
            <div class="noPosts">
                <h3>
                    Похоже нет тем в разделе @Model.Forum.Name.<br/>
                    Почему бы не <a asp-controller="Post" asp-action="Create" asp-route-id="@Model.Forum.Id"><span>создать одну</span>?</a>
                </h3>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script>
   function clearThis(target) {
   	target.value = "";
   }      
</script>
}